@CHARSET "UTF-8";

* {
	font-family: Verdana, Georgia, Serif;
	font-size: 1em;
}

body {
	margin-left: 7.5%;
	margin-right: 7.5%;
}

.h1000 {
	height: 1000px;
}

.absolute-container {
	position: absolute;
	width: 500px;
	height: 200px;
	overflow: auto;
}

.title {
	font-size: 16px;
	line-height: 30px;
	color: #999;
	font-style: italic;
	letter-spacing: 2px;
}

.section-title {
	font-size: 12px;
}