@CHARSET "UTF-8";

* {
	font-family: Verdana, Arial, sans-serif;
	font-size: 1em;
}

.h1000 {
	height: 1000px;
}

.absolute-container {
	position: absolute;
	width: 500px;
	height: 200px;
	overflow: auto;
}